/* font-family: 'Nunito', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

/* main styling */
main {
  background-color: #FCF7F1;
}

/* sale content box styling: sale-description(column 1), sale-graphic (column 2) */
#sale-content-box {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

#sale-description-box, #sale-graphic-box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sale-description-box {
  flex-direction: column;
}

#sale-description {
  width: 70%;
}

#sale-pseudo-button {
  margin-top: 35px;
}

#sale-description > p > a {
  background-color: #FF7F50;
  color: black;
  padding: 12px;
}

/* feature content box styling*/
#feature-background {
  height: 100vh;
  background-image: url(../images/feature_male_female.jpg);
  background-size: cover;
}

#feature-white-cover {
  background-color: rgba(255, 255, 255, 0.3);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto 34% auto;
  grid-template-rows: auto auto;
}

#feature-header-box {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
}

#feature-header-content > h1 {
  background-color: #FCF7F1;
  padding: 8px;
  font-size: 1.2em;
}

#pseudo-buttons-box {
  grid-row: 2;
  grid-column: 2;
}

#pseudo-buttons {
  display: flex;
  justify-content: space-around;
}

#pseudo-buttons > a {
  padding: 15px;
  color: black;
  background-color: #FCF7F1;
}