
/* main styling */
main {
  background-color: white;
}

/* site sale box styling */
#site-sale-background-box {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/fall_2.jpg");
  padding: 50px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

#site-sale-content {
  text-align: center;
  height: 50%;
  color: white;
}

#site-sale-content > h1 {
  font-family: 'Lora', serif;
  display: inline;
  padding: 0 40px 0 40px;
}

#separator {
  border-right: white solid 2px;
}

#site-sale-pseudo-buttons {
  text-align: center;
  margin: 50px 0 0 0;
}

#site-sale-pseudo-buttons > a {
  color: white;
  padding: 15px;
  margin: 53px;
  border: solid white 2px;
}

/* sale content box styling */
#sale-content-box {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 15px 0;
}

#sale-description-box, #sale-graphic-box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sale-description-box {
  background-color: #FCF7F1;
  flex-direction: column;
  padding: 20px 0;
}

#sale-description {
  width: 70%;
}

#sale-description > h1 {
  margin-top: 0;
}

#sale-pseudo-button {
  margin-top: 35px;
}

#sale-pseudo-button > a {
  background-color: #FF7F50;
  color: black;
  padding: 12px;
}

#sale-graphic-box > img {
  width: 50%;
}

/* feature content box styling*/
#feature-background {
  height: 100vh;
  background: url(../images/feature_male_female.jpg) no-repeat;
  background-size: cover;
}

#feature-white-cover {
  background-color: rgba(255, 255, 255, 0.3);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
}

#feature-header-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

#feature-header-content > h1 {
  padding: 8px;
  font-size: 1.2em;
}

#pseudo-button {
  display: flex;
  justify-content: space-around;
}

#pseudo-button > a {
  padding: 15px;
  color: black;
  background-color: #FCF7F1;
}

/* smaller screen styling */
@media (max-width: 965px) {
  /* feature content box styling*/
  #feature-background {
    background: url(../images/feature_model_1.jpg) no-repeat;
    background-size: cover;
  }

  #feature-header-content {
    text-align: center;
  }
}

/* smaller screen styling */
@media (max-width: 800px) {
  /* sale content box styling */
  #sale-description {
    font-size: 0.8em;
  }

  #sale-graphic-box > img {
    width: 70%;
  }
}

/* smaller screen styling */
@media (max-width: 610px) {
  /* site sale box styling */
  #site-sale-background-box {
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  #site-sale-content {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  #site-sale-content > h1 {
    font-size: 1.3em;
    padding: 10px 0;
    margin: 0;
  }
  
  #separator {
    border-right: none;
    border-bottom: white solid 2px;
  }
  
  #site-sale-pseudo-buttons {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  
  #site-sale-pseudo-buttons > a {
    padding: 15px;
    margin:  10px 20%;
    font-size: 0.8em;
  }

  /* sale content box styling */
  #sale-description-box {
    padding: 20px 0;
  }

  #sale-description {
    font-size: 0.6em;
  }

  #sale-description > h1 {
    margin: 0;
  }

  #sale-pseudo-button {
    margin-top: 20px;
  }

  #sale-pseudo-button > a {
    background-color: #FF7F50;
    padding: 10px;
  }

  #sale-graphic-box > img {
    width: 100%;
  }
}

/* smaller screen styling */
@media (max-width: 500px) {
  /* featured section style */
  #feature-background {
    background: url(../images/feature_model_1_mobile.jpg) no-repeat;
    background-size: cover;
  }

  #feature-header-content {
    padding: 30px;
  }
}