/* #cover-container {
  background-image: url("../images/cover.JPG");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  height: 100vh;
}

#white-background-cover {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#cover-content {
}

.slogan {
  margin: 0;
  color: rgb(123, 30, 191);
  font-family: sans-serif;
  font-size: 2em;
} */

/* font-family: 'Nunito', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

 /* overall styling */
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

*, *:before, *:after { box-sizing: inherit; }

a { 
  text-decoration: none;
}

img {
  width: 100%;
}

.logo {
  margin: 0;
  padding: 0 10px 0 20px;
}

/* header and children styling */
header {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  background-color: #FF7F50;
}

header > nav {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

header > nav > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 0 25px;
}

header > nav > a > img {
  max-width: 100px;
}

/* main styling */
main {
  background-color: #FCF7F1;
}

/* sale content box styling: sale-description(column 1), sale-graphic (column 2) */
#sale-content-box {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

#sale-description-box, #sale-graphic-box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sale-description-box {
  flex-direction: column;
}

#sale-description {
  width: 70%;
}

#sale-pseudo-button {
  margin-top: 35px;
}

#sale-description > p > a {
  background-color: #FF7F50;
  color: black;
  padding: 12px;
}

/* feature content box styling*/
#feature-background {
  height: 100vh;
  background-image: url(../images/feature_male_female.jpg);
  background-size: cover;
}

#feature-white-cover {
  background-color: rgba(255, 255, 255, 0.3);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto 34% auto;
  grid-template-rows: auto auto;
}

#feature-header-box {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
}

#feature-header-content > h1 {
  background-color: #FCF7F1;
  padding: 8px;
  font-size: 1.2em;
}

#pseudo-buttons-box {
  grid-row: 2;
  grid-column: 2;
}

#pseudo-buttons {
  display: flex;
  justify-content: space-around;
}

#pseudo-buttons > a {
  padding: 15px;
  color: black;
  background-color: #FCF7F1;
}

/* footer styling */
footer {
  background-color: #FF7F50ff;
  color: white;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}

footer > h3 {
  margin: 50px 0 0 75px;
  padding: 15px;
  font-family: 'Source Sans Pro', sans-serif;
}

#mailing-form {
  width: 54%;
  margin: 0 0 75px 75px;
  padding: 0 15px 15px 15px;
  grid-row: 2;
  grid-column: 1;
  font-family: 'Nunito', sans-serif;
}

#mailing-form > h5 {
  margin: 16px 0 15px 0;
}

#mailing-form > label {
  padding: 12px;
  background-color: white;
}

#mailing-form > label:focus-within {
  outline-color: black;
  outline-width: 2px;
  outline-style: solid;
}

#mailing-form > label > input {
  font-size: 1.1em;
  border: none;
  background: none;
  outline: none;
}

#mailing-form > label > button {
  border: none;
  position: relative;
  background: white;
}

#mailing-form > label > button > svg {
  position: absolute;
  bottom: 0;
}

footer > p {
  grid-row: 1;
  grid-column: 2;
  margin: 50px 75px 0 0;
  padding: 15px;
  font-family: 'Source Sans Pro', sans-serif;
}

#socials {
  grid-row: 2;
  grid-column: 2;
  font-family: 'Source Sans Pro', sans-serif;
} 

#socials > p {
  padding: 0 0 0 15px;
}
