main {
  margin: 50px 125px;
}

#page-header {
  font-family: 'Montserrat', sans-serif;
  margin: 0 10px;
  padding-bottom: 10px;
  border-bottom: lightblue solid 2px;
}

#product-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#product-container > div {
  position: relative;
  margin: 10px 10px 5px 10px;
}

.back { 
  position: absolute;
}

.front {
  position: relative;
  transition: .25s;
}

.front:hover {
  opacity: 0;
}

.product-info {
  color: black;
  font-family: 'Nunito', sans-serif;
  margin: 10px 0;
}

.product-info > h4, p {
  margin: 5px 0;
}