/* font-family: 'Lora', serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

/* overall styling */
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

*, *:before, *:after { box-sizing: inherit; }

a { 
  text-decoration: none;
  font-family: 'Nanum Gothic', sans-serif;
}

img {
  width: 100%;
  display: block;
}

/* header and children styling */
header {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  background-color: #FF7F50;
  z-index: 5;
}

#mobile-logo {
  display: none;
}

#desktop-logo {
  margin: 0;
  padding: 0 10px 0 20px;
}

.logo-image {
  max-width: 100px;
}

#hamburger-icon {
  display: none;
}

header > nav > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

header > nav > ul > li > a {
  display: block;
  color: white;
  padding: 27px;
  transition: 0.25s linear;
}

header > nav > ul > li > a:hover:not(#desktop-logo) {
  background-color: rgba(255, 255, 255, 0.3);
}

/* footer styling */
footer {
  background-color: #FF7F50;
  color: white;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}

footer > h3 {
  margin: 50px 0 0 75px;
  padding: 15px;
  font-family: 'Source Sans Pro', sans-serif;
}

#mailing-form {
  width: 54%;
  margin: 0 0 75px 75px;
  padding: 0 15px 15px 15px;
  grid-row: 2;
  grid-column: 1;
  font-family: 'Nunito', sans-serif;
}

#mailing-form > h5 {
  margin: 16px 0 15px 0;
}

#mailing-form > label {
  padding: 12px;
  background-color: white;
}

#mailing-form > label:focus-within {
  outline-color: black;
  outline-width: 2px;
  outline-style: solid;
}

#mailing-form > label > input {
  font-size: 1.1em;
  border: none;
  background: none;
  outline: none;
}

#mailing-form > label > button {
  border: none;
  position: relative;
  background: white;
}

#mailing-form > label > button > svg {
  position: absolute;
  bottom: 0;
}

footer > p {
  grid-row: 1;
  grid-column: 2;
  margin: 50px 0 0 0;
  padding: 15px;
  font-family: 'Source Sans Pro', sans-serif;
}

#socials {
  grid-row: 2;
  grid-column: 2;
  font-family: 'Source Sans Pro', sans-serif;
} 

#socials > p {
  padding: 0 0 0 15px;
}

/* smaller screen styling */
@media (max-width: 700px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #mobile-logo {
    display: inline;
  }

  #hamburger-icon {
    padding: 21px;
    display: flex;
    align-items: center;
    height: 100%;
    transition: 0.25s linear;
  }

  #hamburger-icon:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  #desktop-logo-list-item, #desktop-logo {
    display: none;
  }

  header > nav {
    background-color: #FF7F50;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
  }

  header > nav.open {
    display: block;
    transition: 0.25s linear;
  }

  header > nav > ul {
    display: flex;
    flex-direction: column;
  }

  header > nav > ul > li {
    border-top: white solid 1px;
    border-left: white solid 1px;
  }
}