/* font-family: 'Lora', serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

/* overall styling */
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

*, *:before, *:after { box-sizing: inherit; }

a { 
  text-decoration: none;
  font-family: 'Nanum Gothic', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input {
  margin-top: 5px;
  width: 100%;
}

img {
  width: 100%;
  display: block;
}

/* header and children styling */
header {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  background-color: #FF7F50;
  z-index: 5;
}

#mobile-logo {
  display: none;
}

#desktop-logo {
  margin: 0;
  padding: 0 10px 0 20px;
}

.logo-image {
  max-width: 100px;
}

#hamburger-icon {
  display: none;
}

header > nav > ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

header > nav > ul > li > a {
  display: block;
  color: white;
  padding: 27px;
  transition: 0.25s linear;
}

header > nav > ul > li > a:hover:not(#desktop-logo) {
  background-color: rgba(255, 255, 255, 0.3);
}

/* footer styling */
footer {
  background-color: #FF7F50;
  color: white;
  padding: 50px 150px;
}

#slogan > h3, #about-us > p, #mailing-form > h5, #socials-contacts > p {
  margin-top: 0;
  margin-bottom: 0;
}

#slogan-about-us-box {
  display: flex;
}

#about-us > p, #mailing-form {
  margin-left: 70px;
}

#slogan > h3, #socials-contacts > p {
  width: 19vw;
}

#slogan > h3 {
  font-family: 'Sansita Swashed', cursive;
}

#socials-contacts-mailing-form-box {
  margin-top: 30px;
  display: flex;
}

#socials-contacts > ul > li, #socials-contacts > ul > li > a {
  padding: 5px 0;
}

#mailing-form > p {
  margin: 6% 0;
}

/* smaller screen styling */

/* footer styling */
@media (max-width: 950px) {
  footer {
    padding: 35px 80px;
  }

  #mailing-form > p {
    margin: 7% 0;
  }
}

@media (max-width: 750px) {
  footer {
    padding: 35px 60px;
  }
}

/*  header styling */
@media (max-width: 700px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #mobile-logo {
    display: inline;
  }

  #hamburger-icon {
    padding: 21px;
    display: flex;
    align-items: center;
    height: 100%;
    transition: 0.25s linear;
  }

  #hamburger-icon:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  #desktop-logo-list-item, #desktop-logo {
    display: none;
  }

  header > nav {
    background-color: #FF7F50;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
  }

  header > nav.open {
    display: block;
    transition: 0.25s linear;
  }

  header > nav > ul {
    display: flex;
    flex-direction: column;
  }

  header > nav > ul > li {
    border-top: white solid 1px;
    border-left: white solid 1px;
  }

  footer {
    padding: 20px 30px;
  }

  #socials-contacts {
    font-size: 0.8em;
  }
}