/* font-family: 'Lora', serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

/* overall styling */
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

*, *:before, *:after { box-sizing: inherit; }

a { 
  text-decoration: none;
  font-family: 'Nanum Gothic', sans-serif;
}

img {
  width: 100%;
}

.logo {
  margin: 0;
  padding: 0 10px 0 20px;
}

/* header and children styling */
header {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  background-color: #FF7F50;
  z-index: 5;
}

header > nav {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

header > nav > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 0 25px;
}

header > nav > a > img {
  max-width: 100px;
}

/* footer styling */
footer {
  background-color: #FF7F50ff;
  color: white;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}

footer > h3 {
  margin: 50px 0 0 75px;
  padding: 15px;
  font-family: 'Source Sans Pro', sans-serif;
}

#mailing-form {
  width: 54%;
  margin: 0 0 75px 75px;
  padding: 0 15px 15px 15px;
  grid-row: 2;
  grid-column: 1;
  font-family: 'Nunito', sans-serif;
}

#mailing-form > h5 {
  margin: 16px 0 15px 0;
}

#mailing-form > label {
  padding: 12px;
  background-color: white;
}

#mailing-form > label:focus-within {
  outline-color: black;
  outline-width: 2px;
  outline-style: solid;
}

#mailing-form > label > input {
  font-size: 1.1em;
  border: none;
  background: none;
  outline: none;
}

#mailing-form > label > button {
  border: none;
  position: relative;
  background: white;
}

#mailing-form > label > button > svg {
  position: absolute;
  bottom: 0;
}

footer > p {
  grid-row: 1;
  grid-column: 2;
  margin: 50px 75px 0 0;
  padding: 15px;
  font-family: 'Source Sans Pro', sans-serif;
}

#socials {
  grid-row: 2;
  grid-column: 2;
  font-family: 'Source Sans Pro', sans-serif;
} 

#socials > p {
  padding: 0 0 0 15px;
}
